*{
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(224, 224, 224);
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: white;
  padding: 0px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: rgb(47, 120, 255);
  color: white;
}

.addToDo {
  display: flex;
  width: 100%;
}

.text {
  flex: 4;
  width: 100%;
  padding: 5px;
}

.date {
  padding: 10px;
  width: 17px;
  cursor: pointer;
}

.addToDo button {
  color: white;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  cursor: pointer;
}

.add {
  background-color: rgb(0, 85, 242);
}

.clear {
  background-color: rgb(115, 115, 115);
}